.calling-room-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button1{
    margin-bottom: 10px;
}

.streme-video{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}
.inside-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    padding: 10px;
}